build/
third_party/HiGHS/
third_party/highs-build/
third_party/highs-install/
solvers/gls/gls
solvers/hgs/hgs
solvers/sisr/sisr
solvers/window/window
solvers/ilssp/ilssp
solvers/ilssp/ilssp-pure
solvers/ilssp/winlb
